body,
h3 {
  margin: 0px;
}
img {
  cursor: pointer;
}
.container {
  width: 268px;
  /* height:500px; */
  /* background-color: red; */
  margin: 50px auto 0px;
  border: 1px solid black;
  text-align: center;

  .product-describe {
    color: 845f3f;
    font-size: 16px;
  }
  .product-info {
    height: 100px;
    background-color: #f8f8f8;
    margin-top: 20px;
    padding: 15px;
    .product-mark {
      & > div {
        display: inline-block;
      }
      & > div:hover {
        cursor: pointer;
      }
      /* // 将div显示在一行，设置div为行内块元素
      //   display: flex;
      //   justify-content: space-between; */
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin-top: 15px;
    }
    p {
      color: #a92112;
      font-size: 20px;
      margin-top: 5px;
    }
  }
}
/* 用于定义标签样式 */
.mark-info-1 {
  border: 2px solid purple;
  color: #fff;
  background-color: purple;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  width: 40px;
}
.mark-info-2 {
  border: 2px solid orange;
  color: orange;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  width: 25px;
}
.mark-info-3 {
  border: 2px solid skyblue;
  color: skyblue;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  width: 50px;
}
