body {
  background-color: #f5f5f5;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  width: 240px;
  /* height: 600px; */
  background-color: #fff;
  margin: 50px;
  padding: 10px 15px;
  /* 父元素设置flex布局后，子元素未设置高度时，默认高度为父元素高度 */
  .header {
    height: 40px;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    & :first-child {
      flex-grow: 1;
    }
    & :last-child {
      font-size: 12px;
      color: #939393;
      margin-left: 5px;
    }
  }
  .item {
    height: 40px;
    /* background-color: antiquewhite; */
    font-size: 12px;
    border-bottom: 1px solid #fff;
    display: flex;
    &:hover {
      background-color: #f8f8f8;
    }
    a {
      display: flex;
      align-items: center;
      width: 100%;
      span:nth-child(1) {
        font-weight: bold;
        color: ff9406;
        margin-right: 10px;
      }
      span:nth-child(2) {
        flex-grow: 1;
        color: #333;
        /* 不换行、超出部分省略、省略部分用...表示 */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span:nth-child(3) {
        /* 不压缩该部分 */
        flex-shrink: 0;
      }
      span:nth-child(4) {
        background-color: #ff9406;
        color: #fff;
        padding: 4px;
        border-radius: 5px;
        margin-left: 5px;
      }
    }
  }
  .item:nth-child(-n + 3) {
    a {
      span:nth-child(1) {
        color: red;
      }
    }
  }
}
.bg-hot {
  background-color: red !important;
}
.bg-normal {
  background-color: skyblue !important;
}
