body {
  padding-top: 30px;
}
.box-container {
  display: flex;
  flex-direction: column;
  .effect-1 {
    box-sizing: border-box;
    height: 140px;
    width: 280px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 15px 8px 10px;
    .top-part {
      display: flex;
      margin-bottom: 20px;
      padding-left: 10px;
      .left-content {
        margin-right: 20px;
      }
      .right-content {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 10px;
        }
        .tag-list {
          display: flex;
          justify-content: flex-start;
          gap: 10px;
        }
      }
    }
    .bottom-part {
      color: grey;
      font-size: 13px;
    }
  }
}
